
/** Buttons **/
button:focus {
  outline: 0;
}

/** Menus  **/
.message {
  color: cadetblue;
  margin-top: 80px;
  margin-left: 2px;
}

.selector__wrapper {
  width: 280px;
}

.selector__searchbox {
  width: 268px;
  margin-left: 6px;
}

.selector__icon {
  left: 262px;
}